body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#main {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    background-color: #ffffff;
    padding: 20px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 0;
    padding: 0;
}

a {
    color: #279cce;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}